
<br><br><h1>Eat-Da-Burger !</h1><br><br>

<h2>The burger king is </h2>
<div class="row">
    <div class="col-md-6">
        <ul class="notEaten">
            {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devoured=false}} {{/unless}} {{/each}}
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="eaten">
            {{#each burgers}} {{#if devoured}} {{> burgers/burger-block devoured=true}} {{/if}} {{/each}}
        </ul>
    </div>
</div>
<br>
<div class="input">
    <label for="burgerInput">Enter a burger you want to eat!</label>
    <input class="form-control" id="burgerInput"><br>
    <label for="numInput">How many would you like?</label>
    <input class="form-control" id="numInput"><br>
    <button id="burgerBtn" class="btn btn-outline-info">Submit</button><br><br>
</div>