
<br><br><h1>Eat-Da-Burger !</h1><br><br>

<h3>Da Burger King is {{data.king.name}} (Record:{{data.king.burger_count}}burgers) </h3>
<div class="row">
    <div class="col-md-6">
        <ul class="notEaten">
            {{#each data.burgers}} {{#unless devoured}} {{> burgers/burger-block devoured=false}} {{/unless}} {{/each}}
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="eaten">
            {{#each data.burgers}} {{#if devoured}} {{> burgers/burger-block devoured=true}} {{/if}} {{/each}}
        </ul>
    </div>
</div>
<br>
<div class="input">
    <label for="burgerInput">Enter a burger you want to eat!</label>
    <input class="form-control" id="burgerInput"><br>
    <button id="burgerBtn" class="btn btn-outline-info">Submit</button><br><br>
</div>