body {
    text-align: center;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

ul {
    line-height: 50%;
    list-style-type: none;
    max-width: 85%;
    font-size: 14px;
    text-align: left;
    line-height: 130%
}

#burgerInput {
    height: 40px;
    max-width: 20%;
    margin: auto;
}

.eaten {
    color:darkgrey
}

.customer, #numInput {
    width: 75px;
    font-size: 12px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px
}

@media (min-width: 780px){
    .notEaten {
        margin-left: 50px;
    }
}